<form class="pathfinder item-sheet" autocomplete="off">
        <header class="sheet-header">
            <img src="{{img}}" title="{{name}}" height="64" width="64"/>
            <h1 class="itemname">
                <input type="text" name="name" placeholder="Name" value="{{name}}" data-dtype="String"/>
            </h1>
        </header>
    
        <ol class="item-details">
            <li>
                <label>Quantity</label>
                <input type="text" name="data.quantity.value" value="{{data.quantity.value}}" data-dtype="{{data.quantity.type}}"/>
            </li>
            <li>
                <label>Weight</label>
                <input type="text" name="data.weight.value" value="{{data.weight.value}}" data-dtype="{{data.weight.type}}"/>
            </li>       
            <li>
                <label>Price</label>
                <input type="text" name="data.price.value" value="{{data.price.value}}" data-dtype="{{data.price.type}}"/>
            </li>
        </ol>
    
        <nav class="sheet-tabs tabs" data-tab-container="primary">
            <a class="item" data-tab="description">Description</a>
            <a class="item active" data-tab="details">Details</a>
        </nav>
    
        <div class="tab editor active" data-tab="description">
            <div class="editor-content" data-edit="data.description.value">
               {{{data.description.value}}}
            </div>
            <a class="editor-edit"><i class="fas fa-edit"></i></a>
        </div>
    
        <div class="tab" data-tab="details">
            <div class="form-group">
                <label>Weapon Icon</label>
                <input type="text" name="img" placeholder="Image URL" value="{{img}}" data-dtype="String"/>
            </div>
    
            <div class="form-group">
                <label>{{data.weaponType.label}}</label>
                <select name="data.weaponType.value" data-dtype="{{data.weaponType.type}}">
                    {{#select data.weaponType.value}}
                    <option value=""></option>
                    {{#each weaponTypes as |name type|}}
                    <option value="{{type}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
    
            <div class="form-group">
                <label>{{data.bonus.label}}</label>
                <input type="text" name="data.bonus.value" value="{{data.bonus.value}}" data-dtype="{{data.bonus.type}}"/>
            </div>
    
            <div class="form-group">
                <label>{{data.damage.label}}</label>
                <input type="text" name="data.damage.value" value="{{data.damage.value}}" data-dtype="{{data.damage.type}}"/>
            </div>
    
            <div class="form-group">
                <label>{{data.damageType.label}}</label>
                <select name="data.damageType.value" data-dtype="{{data.damageType.type}}">
                    {{#select data.damageType.value}}
                    <option value=""></option>
                    {{#each damageTypes as |name type|}}
                    <option value="{{type}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
    
            <div class="form-group">
                <label>{{data.damage2.label}}</label>
                <input type="text" name="data.damage2.value" value="{{data.damage2.value}}" data-dtype="{{data.damage2.type}}"/>
            </div>
    
            <div class="form-group">
                <label>{{data.damage2Type.label}}</label>
                <select name="data.damage2Type.value" data-dtype="{{data.damage2Type.type}}">
                    {{#select data.damage2Type.value}}
                    <option value=""></option>
                    {{#each damageTypes as |name type|}}
                    <option value="{{type}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
    
            <div class="form-group">
                <label>{{data.range.label}}</label>
                <input type="text" name="data.range.value" value="{{data.range.value}}" data-dtype="{{data.range.type}}"/>
            </div>
            <div class="form-group">
                <label>{{data.critrange.label}}</label>
                <input type="text" name="data.critrange.value" value="{{data.critrange.value}}" data-dtype="{{data.critrange.type}}"/>
            </div>
    
            <div class="form-group">
                <label>{{data.ability.label}}</label>
                <select name="data.ability.value" data-dtype="{{data.ability.type}}">
                    {{#select data.ability.value}}
                    {{#each abilities as |ability a|}}
                    <option value="{{a}}">{{ability.label}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
   
            <div class="form-group-stacked">
                <label>{{data.properties.label}}</label>
                <input type="text" name="data.properties.value" value="{{data.properties.value}}" data-dtype="{{data.properties.type}}"/>
            </div>
        </div>
    
        <button type="submit" name="submit" value="1"><i class="far fa-save"></i> Save Changes</button>
    </form>
    