<form class="pathfinder item-sheet" autocomplete="off">
        <header class="sheet-header">
                <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
                <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            </header>
        
            <ol class="item-details">
                <li>
                    <label>Quantity</label>
                    <input type="text" name="data.quantity.value" value="{{data.quantity.value}}" data-dtype="{{data.quantity.type}}"/>
                </li>
                <li>
                    <label>Weight</label>
                    <input type="text" name="data.weight.value" value="{{data.weight.value}}" data-dtype="{{data.weight.type}}"/>
                </li>
                <li>
                    <label>Price</label>
                    <input type="text" name="data.price.value" value="{{data.price.value}}" data-dtype="{{data.price.type}}"/>
                </li>
            </ol>
        
            <nav class="sheet-tabs tabs" data-tab-container="primary">
                <a class="item active" data-tab="description">Description</a>
                <a class="item" data-tab="details">Details</a>
            </nav>
        
            <div class="tab editor active" data-tab="description">
                <div class="editor-content" data-edit="data.description.value">
                   {{{data.description.value}}}
                </div>
                <a class="editor-edit"><i class="fas fa-edit"></i></a>
            </div>
        
            <div class="tab" data-tab="details">
                <div class="form-group">
                    <label>{{data.consumableType.label}}</label>
                    <select name="data.consumableType.value" data-dtype="{{data.consumableType.type}}">
                        {{#select data.consumableType.value}}
                        <option value=""></option>
                        {{#each consumableTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
        
                <div class="form-group consumable-charges">
                    <label>{{data.charges.label}}</label>
                    <input type="text" name="data.charges.value" value="{{data.charges.value}}" data-dtype="{{data.charges.type}}"/>
                    <input type="text" name="data.charges.max" value="{{data.charges.max}}" data-dtype="{{data.charges.type}}"/>
                </div>
        
                 <div class="form-group">
                    <label>{{data.consume.label}}</label>
                    <input type="text" name="data.consume.value" value="{{data.consume.value}}"
                           data-dtype="{{data.consume.type}}" placeholder="Formula"/>
                </div>
        
                 <div class="form-group">
                    <label>{{data.autoUse.label}}</label>
                    <input type="checkbox" name="data.autoUse.value" value="1" data-dtype="{{data.autoUse.type}}" {{checked data.autoUse.value}}/>
                </div>
        
                 <div class="form-group">
                    <label>{{data.autoDestroy.label}}</label>
                    <input type="checkbox" name="data.autoDestroy.value" value="1" data-dtype="{{data.autoDestroy.type}}" {{checked data.autoDestroy.value}}/>
                </div>
            </div>
        
            <button type="submit" name="submit" value="1"><i class="far fa-save"></i> Save Changes</button>
        </form>
        